<% if @favorite == [] %>
  <p>いいねはありません</p>
<% else %>
  <% @favorite.each do |fav| %>
    <% if fav.image.present? %>
      <%= link_to image_tag(fav.post.image.url), post_path(fav.post_id) %>
    <% else %>
      <%= link_to fav.post.content, post_path(fav.post_id) %>
    <% end %>
  <% end %>
<% end %>
