<div class="top">
  <div class="top_content">
    <div class="top_main">
      <h1>Rubistagram</h1>
      <%= link_to "はじめる", new_user_path, class:"btn btn-primary submit top_btn" %>
    </div>
  </div>
</div>
