// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  margin:0;
  padding:0;
  color:#444;
  height:100%
}
main{
  min-height:100%;
  padding-bottom:40px;
}
/*nav*/
nav{
  background: #7b4397;
  background: -webkit-linear-gradient(to left, #dc2430, #7b4397);
  background: linear-gradient(to left, #dc2430, #7b4397);
}
/*サイト内共通*/
.img_box{
  margin-bottom:5px;
}
.img_box img{
  position:relative;
  max-width:100%;
}
.alert{
  text-align:center;
}
.flash_area{
  padding-top:56px;
}
.container{
  padding-top:60px;
}
.link_area{
  text-align:right;
  font-size:0.8rem;
}
/*ここまで*/
/*sidebar*/
.col-md-4{
  position:sticky;
  top:60px;
  text-align: center;
  padding-top:5px;
}
.col-md-4 a{
  text-decoration: none;
  color: #444;
}
.col-md-4 img, .col-6 img{
  border-radius: 50%;
}
/*ここまで*/
/*Topの投稿枠*/
.post_area{
  border-bottom:1px solid #dedede;
  padding-bottom:10px;
}
.post_pro_img{
  width:30px;
  height:30px;
  border-radius:15px;
}
.post_user_name{
  padding-top:8px;
}
.post_user_name a{
  text-decoration:none;
  color:#444;
}
/*ここまで*/
/*formのボタン*/
.submit{
  margin-top:20px;
}
/*ここまで*/
/*profile一覧*/
.profile_index{
  padding:5px 0;
  border-top:1px solid #dedede;
}
.profile_index img{
  width:100px;
  height:100px;
  margin-right:10px;
}
/*ここまで*/
/*profileの投稿一覧*/
.post_index_title{
  margin-top:25px;
  margin-bottom:2px;
  padding:5px 0 5px 3px;
  color:#fff;
  background: #7b4397;
  background: -webkit-linear-gradient(to left, #dc2430, #7b4397);
  background: linear-gradient(to left, #dc2430, #7b4397);
}
/*ここまで*/
/*user登録フォーム*/
.user_form_content{
  width:280px;
  margin:0 auto;
  padding-top:120px;
  text-align:center;
}
.form-control{
  margin-bottom:10px;
}
/*footer*/
footer{
  padding:5px 0 10px 0;
  background-color: #e0e0e0;
  text-align:center;
  margin-top:-40px;
}
footer p{
  margin:0;
}
