<h1>お問い合わせが完了しました</h1>

<h4><%= @contact.name %>さん</h4>

<p>この度は、Rubistagramへのお問い合わせいただき、誠にありがとうございます。<br />
内容を確認させていただき、ご連絡させていただきます。<br />
今後ともよろしくお願い致します。</p>

<h4>お問い合わせ内容の確認</h4>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
<p><%= @contact.content %></p>
